<form [formGroup]="registerMembers" (ngSubmit)="handleRegisterMember()" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field appearance="outline" >
        <mat-label>name_members</mat-label>
        <input matInput formControlName="name_members" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>email_members</mat-label>
        <input matInput formControlName="email_members" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>phone</mat-label>
        <input matInput formControlName="phone" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>job_title</mat-label>
        <input matInput formControlName="job_title" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>organisation</mat-label>
        <input matInput formControlName="organisation" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>entry_id</mat-label>
        <input matInput formControlName="entry_id" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>entry_date</mat-label>
        <input matInput formControlName="entry_date" type="date">
    </mat-form-field>
    <button mat-raised-button class="create-btn " color="primary"  style="width: 100%;font-size: large;" [disabled]="!registerMembers.valid">Register</button>
</form>