
<form [formGroup]="registerMembers" (ngSubmit)="handleRegisterMember()" fxLayout="column" fxLayoutAlign="center center">
    <h1>Create new person record</h1>
    <mat-form-field appearance="outline" >
        <mat-label>Family name</mat-label>
        <input matInput formControlName="Family_Name" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>First name</mat-label>
        <input matInput formControlName="First_Name" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>Email</mat-label>
        <input matInput formControlName="Email" type="text">
    </mat-form-field>
    <!-- <mat-form-field appearance="outline" >
        <mat-label>job_title</mat-label>
        <input matInput formControlName="job_title" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>organisation</mat-label>
        <input matInput formControlName="organisation" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>entry_id</mat-label>
        <input matInput formControlName="entry_id" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" >
        <mat-label>entry_date</mat-label>
        <input matInput formControlName="entry_date" type="date">
    </mat-form-field> -->
    <button mat-raised-button class="create-btn " color="primary"  [disabled]="!registerMembers.valid">Register</button>
</form>